*{
    padding: o;
    margin: 0;
}

ul{
    list-style-type:none;
    font-size: 20px;
    margin-top: 25px;
}

ul li{
    float: left;
    background-color: aqua;
    height: 60px;
    width: 350px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border:solid 1px white;
    border-radius: 15px;
    padding-top: 15px;
}

ul li a{
    text-decoration: none;
}

ul li a:hover{
    background-color: green;
    color: aliceblue;
    font-size: 30px;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}